//Project section scss
.project {
    width: 100%;
    margin: 30px 0px 50px;

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }
    }
}

//Card section scss

.card {
    width: min-content;
    height: 500px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px 0px rgb(194, 226, 254);
    transition: all 0.4s ease 0s;

    &:hover {
        transform: scale(1.02);
    }

    .img {
        img {
            width: 350px;
            height: 200px;
        }
    }

    .content {
        h3 {
            text-align: center;
            font-size: 20px;
        }

        p {
            text-align: justify;
            font-size: 16px;
            letter-spacing: .5px;
            line-height: 2;
        }

        .links {
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .link {
                padding: 10px;
                width: max-content;
                border-radius: 5px;
                background-color: aliceblue;
                box-shadow: 0px 2px 5px 0px rgb(209, 234, 248);
                text-decoration: none;
                color: black;
                font-size: 18px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                &:hover {
                    background-color: rgb(3, 0, 8);
                    color: white;
                }
            }
        }
    }
}

// /* Media Query for Mobile Devices */
@media (max-width: 767px) {
    body {
        background-color: red;
    }

    .card {
        height: 450px;

        .img {

            img {
                width: 300px;
                height: 180px;
            }
        }
    }
}