.skill {
    width: 100%;
    margin: 40px auto;
     

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 350px;

            .row {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 20px;

                .col {
                    padding: 30px;
                    font-size: 50px;
                    border: 0.2px solid rgb(214, 214, 214);
                    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
                    transition: all 0.4s ease 0s;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
    .skill {
        overflow: hidden;

        .wrapper {
            padding: 0px 10px;

            .row {

                .col {
                    font-size: 40px;
                }
            }
        }
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .skill {
        overflow: hidden;

        .wrapper {
            padding: 0px 100px;
        }
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .skill {
        overflow: hidden;

        .wrapper {
            padding: 0px 200px;
        }
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .skill {
        overflow: hidden;

        .wrapper {
            padding: 0px 300px;
        }
    }
}