.navbar {
    height: 60px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 180px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s ease-out 0s;

    .title {
        font-size: 22px;
        font-weight: 700;
    }

    .toggle-icon {
        position: absolute;
        font-size: 25px;
        top: 20px;
        right: 30px;
        display: none;
    }

    .links {
        display: flex;
        gap: 30px;

        .left-5 {
            padding: 5px;
            width: max-content;
            border-radius: 5px;
            background-color: aliceblue;
            box-shadow: 0px 1px 10px 0px rgb(194, 226, 254);


            .about-me {
                text-decoration: none;
                color: black;
                font-size: 20px;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;
                opacity: 0.8;
            }
        }

        .link {


            .llink:hover {
                color: black;
                border-bottom: 2px solid rgb(180, 102, 7);
            }

            .llink {
                text-decoration: none;
                opacity: 0.8;
                color: rgb(40, 40, 40);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        padding: 0px 20px;
        overflow: hidden;

        .toggle-icon {
            display: block;
        }

        .links.toggle {
            padding: 30px 0px;
            box-shadow: 0px 200px 200px 0px rgba(0, 0, 0, 0.205);
            transition: all 0.5s ease-in-out;
            backdrop-filter: blur(15px);
            .link {
                display: block;

                .llink {
                    width: fit-content;
                    margin: 0 auto;
                }
            }
        }

        .links {
            position: absolute;
            z-index: 1;
            background-color: aliceblue;
            top: 60px;
            left: 0;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;

            .left-5 {
                display: none;
            }

            .link {
                display: none;
                text-align: center;
                margin: 0;


                .llink {
                    width: 100%;
                }
            }


        }
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .navbar {
        padding: 0px 100px;
    }
}